<app-navbar></app-navbar>
<app-buscar (enviarBusqueda)="busqueda('1',$event)"></app-buscar>
<div *ngIf="respuesta != undefined">

    <div *ngIf="respuesta.Response">
        <h2 class="animate__animated animate__backInLeft animate__faster">Búsqueda por "{{nombrePelicula}}<small *ngIf="yearPelicula != ''"> ({{yearPelicula}})</small>"</h2>
        <hr>
    </div>

    <div *ngIf="respuesta.Response" class="card-columns">
        <app-tarjeta [pelicula]="index" *ngFor="let index of peliculas | paginate: { itemsPerPage: 10, currentPage: pagina, totalItems: totalPeliculas }"></app-tarjeta>
    </div>
    <pagination-controls *ngIf="respuesta.Response == 'True'" (pageChange)="busqueda($event)"></pagination-controls>
    <div *ngIf="respuesta.Response == 'False'" class="alert alert-danger animate__animated animate__shakeX animate__faster">
        <p #elseBlock>Película "{{nombrePelicula}}" no encontrada</p>
    </div>
</div>

<app-footer></app-footer>